/*

# Exclude dirs
!/.github
!/src
!/static
!/tests

# Exclude files
!/.eslintignore
!/.eslintrc.cjs
!/.gitignore
!/.npmrc
!/.prettierignore
!/.prettierrc
!/package.json
!/playwright.config.ts
!/README.md
!/svelte.config.js
!/tsconfig.json
!/vite.config.ts
